.filledButton {
    font-size: 1rem;
    border-radius: 0.375rem;
    border-style: none;
    color: white;
    cursor: pointer;
}

.filledButton.default {
    background: linear-gradient(to left, var(--blueGrotto) 50%, var(--blueGreen) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

.filledButton.red {
    background: linear-gradient(to left, var(--redError) 50%, var(--redErrorHover) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

.filledButton.green {
    background: linear-gradient(to left, var(--greenSuccess) 50%, var(--greenSuccessHover) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

.filledButton:hover:not([disabled]) {
    background-position: left;
}

.filledButton:disabled,
.filledButton[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}