.emptyButton {
    font-size: 1rem;
    border-radius: 0.375rem;
    background-color: var(--background-color-container);
    cursor: pointer;
    transition: .3s ease-out;
}

.emptyButton.default {
    border: 0.125rem solid var(--blueGrotto);
    color: var(--blueGrotto);
}

.emptyButton.default:hover:not([disabled]) {
    color: var(--blueGreen);
    border-color: var(--blueGreen);
}

.emptyButton.red {
    border: 0.125rem solid var(--redError);
    color: var(--redError);
}

.emptyButton.red:hover:not([disabled]) {
    color: var(--redErrorHover);
    border-color: var(--redErrorHover);
}

.emptyButton.green {
    border: 0.125rem solid var(--greenSuccess);
    color: var(--greenSuccess);
}

.emptyButton.green:hover:not([disabled]) {
    color: var(--greenSuccessHover);
    border-color: var(--greenSuccessHover);
}

.emptyButton:disabled,
.emptyButton[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}