@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

//global colors palette
:root {
    --shadow-color: #C6C6C6;
    --input-background-color: #E8E4E4;
    --lightGrey: #9D9D9D;
    --darkGrey: #333333;
    --navyBlue: #05445E;
    --blueGrotto: #189AB4;
    --blueGreen: #75E6DA;
    --babyBlue: #D4F1F4;
    --yellowGreen: #ECF87F;
    --limeGreen: #81B622;
    --redError: #c41616;
    --redErrorHover: #F54040;
    --greenSuccess: #508A0E;
    --greenSuccessHover: #87E023;
}

//style for different themes
body[data-theme="light"] {
    --background-color-container: #FFFFFF;
    --text-color: var(--darkGrey);
    --svg-color: #000000;
}

body[data-theme="dark"] {
    --background-color-container: var(--darkGrey);
    --text-color: #FFFFFF;
    --svg-color: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code,
input {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0.4rem;
    background-color: var(--input-background-color);
}

::-webkit-scrollbar-track {
    background-color: var(--input-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--shadow-color);
    border-radius: 0.1875rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--lightGrey);
}