.navbarweb-container {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    background-color: var(--background-color-navbar);

    ul {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 1rem 0 0 0;
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        border-bottom: 2px solid var(--border-color-navbar);
        transition: border 0.3s ease;
    }

    li:hover {
        border-top: 2px solid var(--border-color-navbar);
        border-left: 2px solid var(--border-color-navbar);
        border-right: 2px solid var(--border-color-navbar);
        border-bottom: 2px solid transparent;
    }

    &__link {
        text-decoration: none;
        padding: 0.2rem 1.5rem;
        color: #FFFFFF;
        font-size: 1.2rem;
    }

    &__link--active {
        @extend .navbarweb-container__link;
        color: var(--border-color-navbar);
        font-weight: 600;
    }

    li:last-child {
        border: 0;
        margin-left: auto;
        padding: 0.2rem 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .navbarweb-container {
        &__link {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width:400px) {
    .navbarweb-container {
        &__link {
            padding: 0.2rem 0.7rem;
        }

        li:last-child {
            padding: 0.2rem 1rem;
        }

        &__link {
            font-size: 0.7rem;
        }
    }
}

@media only screen and (max-width:240px) {
    .navbarweb-container {
        ul {
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 50%;
        }

        li:hover {
            border: 2px solid transparent;
            border-bottom: 2px solid var(--border-color-navbar);
        }

        &__link {
            padding: 0.2rem 0.7rem;
            font-size: 0.7rem;
        }

        li:last-child {
            border: 0;
            padding: 0.2rem 0.2rem;
            width: 20%;
        }
    }
}