.modal-container {
    width: 40%;
    height: fit-content;
    box-shadow: 1px 1px 10px 5px var(--shadow-color);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--background-color-container);

    &__icon {
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        color: var(--text-color);
        margin: 0;
    }

    &__subtitle {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        color: var(--text-color);
        margin: 1.2rem 0;
    }

    &__buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .filledButton {
            width: 14vw;
            height: 7vh;
        }

        .emptyButton {
            width: 14vw;
            height: 7vh;
        }
    }
}

@media only screen and (max-width: 768px) {
    .modal-container {

        &__buttons-container {
            flex-direction: column;

            .filledButton {
                height: 3rem;
                width: 90%;
            }

            .emptyButton {
                height: 3rem;
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .modal-container {

        &__title {
            font-size: 1rem;
        }

        &__subtitle {
            font-size: 0.7rem;
        }

        &__buttons-container {

            .filledButton {
                font-size: 0.8rem;
            }

            .emptyButton {
                font-size: 0.8rem;
            }
        }
    }
}