.news-container-all {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news-top {
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    &__refresh {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.4rem;
    }
}

.news-container {
    width: 100%;
    padding: 0 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    .empty-news {
        display: flex;
        flex-direction: column;

        &__pic {
            width: 25rem;
            height: 25rem;
            margin: auto;
            margin-top: 2rem;
        }

        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            margin: auto;
            text-align: center;
            margin: 0 2rem 2rem;
        }
    }

    &__slider {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: space-between;
        padding: 0 1rem;
    }
}

.not-matched-news {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        margin: auto;
        text-align: center;
        margin: 0 2rem 2rem;
    }
}

@media only screen and (max-width: 1472px) {
    .news-container__slider {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .news-container {

        .empty-news {

            &__pic {
                width: 14rem;
                height: 14rem;
            }

            &__title {
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .news-top {
        min-height: 2.4rem;
    }

    .news-container {

        .empty-news,
        .not-matched-news {

            &__pic {
                width: 7rem;
                height: 7rem;
            }

            &__title {
                font-size: 0.6rem;
            }
        }
    }
}