.theme-container {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    cursor: pointer;
}

.theme-container:hover {
    stroke: var(--border-color-navbar);
    fill: var(--border-color-navbar);
}

#email-svg {
    stroke: var(--darkGrey);
}

#open-eye-svg,
#close-eye-svg {
    stroke: var(--darkGrey);
    cursor: pointer;
}

.navbar-icon {
    stroke: #FFFFFF;
    cursor: pointer;
}

.navbar-icon:hover {
    stroke: var(--border-color-navbar);
}

.card-icon {
    cursor: pointer;
    margin: 0.1rem 0.5rem;
    stroke: #FFFFFF;

    g {
        fill: #FFFFFF;
    }

}

.card-icon:hover {
    stroke: var(--border-color-navbar);

    g {
        fill: var(--border-color-navbar);
    }
}

.calendar-person-div {
    display: flex;
}

.person-icon {
    fill: #000000;
    stroke: #000000;
}

.empty-search-icon {
    margin: auto;
}

.help-text {
    display: flex;
    align-items: center;

    a {
        display: flex;
    }
}

.close-arrow {
    fill: var(--text-color);
    cursor: pointer;
}

.close-arrow:hover {
    fill: var(--border-color-navbar);
}

#close-div {
    margin-left: auto;
}