.crossmark__circle.animateElement {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--redError);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark.animateElement {
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: var(--redError);
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--redError);
    animation: fillred .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.crossmark__check.animateElement {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.cross__path.animateElement {
    stroke: #ffffff;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
}

.cross__path--right.animateElement {
    animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}

.cross__path--left.animateElement {
    animation: 1s ease 0.8s normal forwards 1 running stroke;
}

@keyframes fillred {
    100% {
        box-shadow: inset 0px 0px 0px 30px var(--redError);
    }

}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

.settingAnimated {
    cursor: pointer;
    stroke: #FFFFFF;
}

.settingAnimated:hover {
    transform: rotate(35deg);
    stroke: var(--border-color-navbar);
}

.refresh-icon {
    fill: #000000;
    cursor: pointer;
}

.refresh-icon:hover {
    fill: var(--limeGreen);
    -webkit-transition: fill 0.7s ease-out;
    -moz-transition: fill 0.7s ease-out;
    -o-transition: fill 0.7s ease-out;
    transition: fill 0.7s ease-out;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-name: spin;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animated-actions {
    cursor: pointer;

    .cls-1 {
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-linejoin: bevel;
    }
}

.animated-actions:hover {
    animation: shake 500ms ease-in-out forwards;

    .cls-1 {
        stroke: var(--limeGreen);
    }
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-9deg);
    }

    70% {
        transform: rotate(9deg);
    }

    100% {
        transform: rotate(0deg);
    }
}