.svgContainer {
    fill: var(--svg-color);
    stroke: var(--svg-color);
    cursor: pointer;
}

.svgContainer:hover {
    stroke: var(--blueGrotto);
    fill: var(--blueGrotto);
}

#email-svg {
    stroke: var(--darkGrey);
}

#open-eye-svg,
#close-eye-svg {
    stroke: var(--darkGrey);
    cursor: pointer;
}