.tooltip-container {
    position: relative;
    display: flex;
    z-index: 1;

    &__inside {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -9rem;
        width: 11rem;
        padding: 0.5rem 1rem;
        background: var(--background-color-navbar);
        color: #FFFFFF;
        opacity: 0;
        pointer-events: none;
        border-radius: 0.3rem;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        -webkit-box-shadow: 2px 2px 6px var(--shadow-color);
        -moz-box-shadow: 2px 2px 6px var(--shadow-color);
        -ms-box-shadow: 2px 2px 6px var(--shadow-color);
        -o-box-shadow: 2px 2px 6px var(--shadow-color);
        box-shadow: 2px 2px 6px var(--shadow-color);

        &__block {
            display: flex;
            align-items: center;
            padding: 0.3rem 0;
            margin: 0;
            border-bottom: 1px solid #FFFFFF;

            &__icon {
                display: flex;
                align-items: center;
            }

            &__title {
                margin: 0 0 0 1rem;
                height: 100%;
                font-size: 0.9rem;
                cursor: pointer;
                color: #FFFFFF;
            }

            &__title:hover {
                color: var(--border-color-navbar);
            }
        }
    }
}

.tooltip-container__inside.web:before {
    position: absolute;
    top: -1.8rem;
    left: 0;
    height: 2.5rem;
    width: 100%;
    content: " ";
}

.tooltip-container__inside:after {
    position: absolute;
    left: 85%;
    width: 0;
    height: 0;
    content: " ";
    border-left: solid transparent 8px;
    border-right: solid transparent 8px;
}

.tooltip-container:hover .tooltip-container__inside {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.tooltip-container__inside.web {
    bottom: -7rem;
}

.tooltip-container__inside.mobile {
    bottom: 4.1rem;
}

.tooltip-container__inside.web:after {
    top: -0.5625rem;
    border-bottom: solid var(--background-color-navbar) 8px;
}

.tooltip-container__inside.mobile:after {
    top: 5.8rem;
    border-top: solid var(--background-color-navbar) 8px;
}

@media only screen and (max-width:400px) {
    .tooltip-container {

        &__inside {
            left: -9.4rem;

            &__block__title {
                font-size: 0.7rem;
            }
        }
    }
}

@media only screen and (max-width:240px) {
    .tooltip-container {

        &__inside {
            width: 8rem;
            left: -6.7rem;
        }
    }
}